{{>layouts/header}}
<body>
{{>nav}}
<!--    <form action="/intro/choice", method="post">-->
<!--        <button class="login_btn" type="submit" name="choice">LOGIN</button>-->
<!--        <button class="join_btn" type="submit" name="choice">JOIN</button>-->
<!--    </form>-->

</body>

{{>layouts/footer}}
